* {
    margin: 0px;
    /* border: 1px solid red; */
}
body, html {
    height: 100%;
}

body {
    font-family: lato;
}
/*hero image================================================*/
.top_image {
    background-image: url(svg/website_top_bg.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
}


.logo {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
